<!doctype html>
<html lang="da" ng-app="Kata">
<head>

    <!-- Meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Codingkatas | Kata 4</title>

    <!-- twitter bootstrap styles and app specific style. Note that the app.css i placed last - to override from bootstrap -->
    <link href="css/bootstrap-3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-3.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- jQuery and AngularJS. jQuery must be first in line register it self for use by AngularJS -->
    <!-- Other utility libraries as well -->
    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="lib/angular-1.2.0/angular.min.js"></script>
    <script src="lib/angular-1.2.0/angular-resource.min.js"></script>
    <!-- Angular wrapper for twitter bootstrap widgets -->
    <script src="lib/ui-bootstrap-tpls-0.5.0.min.js"></script>
    <!-- Sugar JS. Utility for javascript -->
    <script src="lib/sugar-1.3.9.min.js"></script>

    <script src="app/kata/util.js"></script>
    <script src="app/kata/app.js"></script>
    <script src="app/kata/TodoService.js"></script>
    <script src="app/kata/HomeController.js"></script>
    <script src="app/kata/SelectedTodoController.js"></script>
    <script src="app/kata/TodoListController.js"></script>


</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Codingkatas | Kata 4</a>
        </div>
    </div>
</div>

<div class="container" ng-controller="kata.home.HomeController">

    <div class="template">

        <h1>Kata 4 - AngularJS Service</h1>

        <table class="table" ng-controller="kata.home.TodoListController">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="todo in todos">
                <td>{{ todo.subject }}</td>
                <td><input type="checkbox" ng-model="todo.done" ng-click="selectTodo(todo)"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="text-center" ng-controller="kata.home.SelectedTodoController">
        <h2>
            <small>Selected todo:</small>
        </h2>

        <div id="result">{{ model.selectedTodoSubject }}</div>
    </div>
</div>

<hr>

<div class="text-center">
    Ready to test it? <a href="tests/runner.html">Click here!</a>
</div>

</body>
</html>